<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDRUM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .suggestion {
            cursor: pointer;
            padding: 8px;
        }
        .scrollable-suggestions {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
        /* Customizing scrollbar */
        .scrollable-suggestions::-webkit-scrollbar {
            width: 8px;
        }
        .scrollable-suggestions::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        .scrollable-suggestions::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 4px;
        }
        .scrollable-suggestions::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        .suggestion:hover {
            background-color: #2064d4;
            color: white;
        }
    </style>
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
    <div class="container">
        <h1 class="text-center mb-4">DDRUM</h1>

        <div class="form-group">
            <label for="dropdownMenu">Select a Form:</label>
            <select class="form-control" id="dropdownMenu">
                <option value="1">Most used drugs to treat a condition</option>
                <option value="2">Drugs used to treat given condition</option>
                <option value="3">Studies (divided by phase) in which a drug is cited</option>
                <option value="4">Studies (divided by phase) in which a condition is cited</option>
                <option value="5">All studies citing a drug</option>
                <option value="6">All studies citing a condition</option>
            </select>
        </div>

        <input type="text" id="drugSearch" class="form-control mb-2" placeholder="Search for a drug">
        <div id="drugSuggestions" class="scrollable-suggestions"></div>
        
        <input type="text" id="conditionSearch" class="form-control mb-2" placeholder="Search for a condition">
        <div id="conditionSuggestions" class="scrollable-suggestions"></div>

        <!-- Dropdown for selecting phases -->
        <div class="dropdown" id="phaseDropdownContainer" style="display: none;">
            <div class="input-group">
                <div class="input-group-append">
                    <select class="custom-select" id="phaseDropdown_d1">
                        <option value="Phase 1">Phase 1</option>
                        <option value="Phase 2">Phase 2</option>
                        <option value="Phase 3">Phase 3</option>
                        <option value="Phase1/Phase2">Phase 1/Phase 2</option>
                        <option value="Phase2/Phase3">Phase 2/Phase 3</option>
                        <option value="Phase 4">Phase 4</option>
                        <option value="Early Phase 1">Early Phase 1</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="num_res" id="form_num">
            <div class="form-group">
                <label for="num_res">Maximum number of results to display:</label>
                <input type="number" class="form-control" id="num_res" placeholder="Max results" min="1" required>
            </div>
        </div>

        <!-- Global Submission Button -->
        <button type="button" class="btn btn-primary" onclick="submitForms()">Submit</button>

        <div id="results"></div>

        <div id="error"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='front.js') }}"></script>

    <script>
        $(document).ready(function() {
            // Set the default value for the dropdown
            $("#dropdownMenu").val("1");
            $("#num_res").val("10");

            // Call the function to show the corresponding form on page load
            showSelectedForm();

            // Attach an event listener to the dropdown to show the corresponding form on change
            $("#dropdownMenu").change(function() {
                showSelectedForm();
            });

            // Function to show the corresponding form based on the selected dropdown value
            function showSelectedForm() {
                // Hide all forms
                $(".form-container").hide();
                $("#phaseDropdownContainer").hide(); // Hide the phase dropdown container by default

                $("#drugSearch").val('');
                $("#conditionSearch").val('');
                // Get the selected value from the dropdown
                var selectedValue = $("#dropdownMenu").val();

                 // Toggle visibility of drugSearch and conditionSearch inputs based on selected value
                if (selectedValue === "3" || selectedValue === "5") {
                    $("#drugSearch").show();
                    $("#conditionSearch").hide();
                } else {
                    $("#drugSearch").hide();
                    $("#conditionSearch").show();
                }
                // Toggle visibility of drugSearch and conditionSearch inputs based on selected value
                if (selectedValue === "3" || selectedValue === "4") {
                    $("#phaseDropdownContainer").show();
                } else {
                    $("#phaseDropdownContainer").hide();
                }
            }
        });
    </script>
</body>
</html>
