.header {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-bottom: 1px solid #dee2e6;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    max-width: 99vw;
    max-height: 99vh;
}

.forms {
    width: 70vw;
    height: 70vh;
    max-width: 90vw;
    max-height: 90vh;
}

.suggestion {
    cursor: pointer;
    padding: 8px;
}

.scrollable-suggestions {
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0.25rem;
}

#submitbtn {
    background-color: #2064d4;
}

/* Customizing scrollbars */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.suggestion:hover {
    background-color: #2064d4;
    color: white;
}

a {
    color: #2064d4;
}

#results {
    max-height: 48vh;
    overflow: auto;
}

#results::-webkit-scrollbar {
    width: 8px;
}

#results::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#results::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#results::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#error {
    color: red;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .forms {
        width: 95vw;
        height: 95vh;
        max-width: 99vw;
        max-height: 99vh;
    }

    #results {
        height: 50vh;
        overflow: auto;
    }

    #error {
        min-height: 1vh;
    }
}